In [12]:
#dependencies and setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

#import API key
from config import g_key

#access maps with unique API key
gmaps.configure(api_key=g_key)

In [13]:
#import cities.csv file into a dataframe
cities_df = pd.read_csv("cities.csv")

#get rid of 'City_ID' column
cities_df = cities_df[["City", "Cloudiness", "Country", 
                       "Date", "Humidity", "Lat", "Lng", "Max Temp", "Wind Speed"]]
cities_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Gamba,98,GA,1579804161,82,-2.65,10.00,80.91,4.81
1,Anloga,10,GH,1579804162,83,5.79,0.90,84.20,5.82
2,Mumford,70,GH,1579804163,65,5.26,-0.76,83.86,9.08
3,Takoradze,86,GH,1579804164,70,4.88,-1.76,83.66,8.08
4,Omboue,94,GA,1579804165,91,-1.57,9.26,78.89,2.59
5,Port-Gentil,40,GA,1579804166,84,-0.72,8.78,86.00,4.70
6,Jamestown,1,US,1579803964,44,42.10,-79.24,39.99,4.70
7,Teshie,20,GH,1579804169,83,5.58,-0.11,84.20,13.87
8,Winneba,20,GH,1579804170,83,5.35,-0.62,84.20,13.87

In [ ]:
#try this on the larger dataframe
#cities_nan = cities_df[cities_df.isna().any(axis=1)]
#cities_nan
#if there are nan values, then save by coding cities_df = cities_df.dropna()

In [14]:
#create heatmap based on humidity

#store latitude and longitude into the variable 'coordinates'
coordinates = cities_df[["Lat", "Lng"]]

#convert humidity to float; all data read from a csv is read as a string
humidity = cities_df["Humidity"].astype(float)

In [15]:
#plot heatmap
fig = gmaps.figure()

#create heat layer
heat_layer = gmaps.heatmap_layer(coordinates, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)

#add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
temp_df = cities_df.loc[(cities_df["Max Temp"] > 40) &
                        (cities_df["Humidity"] < 84) & 
                        (cities_df["Wind Speed"] < 5) | 
                        (cities_df["Wind Speed"] > 13), :].reset_index()
temp_df = temp_df[["City", "Cloudiness", "Country", "Date", "Humidity", "Lat", "Lng", "Max Temp", "Wind Speed"]]
temp_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Gamba,98,GA,1579804161,82,-2.65,10.00,80.91,4.81
1,Teshie,20,GH,1579804169,83,5.58,-0.11,84.20,13.87
2,Winneba,20,GH,1579804170,83,5.35,-0.62,84.20,13.87