In [1]:
#dependencies and setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

#import API key
from config import g_key

In [2]:
#import cities.csv file into a dataframe
cities_df = pd.read_csv("cities.csv")

#get rid of 'City_ID' column
cities_df = cities_df[["City", "Cloudiness", "Country", 
                       "Date", "Humidity", "Lat", "Lng", "Max Temp", "Wind Speed"]]
cities_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Albany,1,US,1579740843,73,42.60,-73.97,27.00,4.70
1,Ardakan,68,IR,1579740844,81,32.31,54.02,47.12,11.23
2,Carnarvon,0,AU,1579740845,53,-24.87,113.63,75.20,18.34
3,Ostrovnoy,100,RU,1579740847,77,68.05,39.51,25.88,23.42
4,Hermanus,0,ZA,1579740848,85,-34.42,19.23,69.01,8.01
...,...,...,...,...,...,...,...,...,...
547,Bambanglipuro,91,ID,1579741592,83,-7.95,110.28,77.97,4.72
548,Nome,90,US,1579741593,91,64.50,-165.41,3.20,3.36
549,Wakkanai,40,JP,1579741349,54,45.41,141.67,28.40,11.41
550,Longavi,10,CL,1579741597,60,-35.97,-71.68,69.30,1.36
551,Goderich,100,CA,1579741446,84,43.75,-81.72,27.00,13.85